.navigation {
    font-size: 28px;
    display: flex;
    background-color: black;
    justify-content: left;
    margin-bottom: 0;
    padding-left: 0.5em;
  }
  
  .navigation a:not(:first-child) {
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
    transition: 0.5s ease;
  }
  
  .navigation a:hover:not(:first-child, :last-child) {
    color: #ff851b;
    background-color: rgba(134, 133, 133, 0.452);
  }

  .navigation a:last-child{
    align-self: flex-end;
    margin-left: auto;
    margin-right: 0.25em;
  }
  
  .is-active-nav:not(:first-child, :last-child) {
    color: white;
    background-color: #ff851b;
  }
  
  #siteImg {
    padding-top: 0.25em;
    padding-right: 0.5em;
    width: 9em;
    height: auto;
  }

  footer {
    background-color: black;
    color: white;
    height: 10em;
    font-size: 32px;
  }
  
  .contact {
    text-align: center;
    font-size: 32px;
  }
  
  .icons {
    width: 4% !important;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    margin: 0 58.5px;
    color: white;
    transition: 0.3s linear;
    border-radius: 100%;
    border: solid 1px white;
  }
  .icons:hover,
  .additional-links:hover {
    color: white;
    opacity: 0.8;
  }
  
  .facebook {
    background: #3B5998;
  }
  .instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  }
  .whatsapp {
    background-color: #25d365e8;
  }
  .email {
    background-color: rgb(255, 43, 43);
  }
  .additional-links {
    cursor: pointer;
    font-size: 24px;
    background-color: #ff851b;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.25em;
    transition: 0.3s linear;
    border-radius: 50px;
    border: solid 1px white;
  }
  .copyrights {
    background-color: rgb(63, 63, 63);
    text-align: start;
    color: white;
    padding-left: 0.5em;
  }
  :root{
    --primary-color: #ff851b;
  }
  .btn-primary{
    background-color: #ff851b !important;
    border-color: white !important;
  }
  .btn-success a{
    color: white;
  }
  .form-control{
    border: 1px solid black !important;
  }
  .red-note{
    color: red;
  }
  .link-none{
    text-decoration: none;
    color: inherit;
  }
  .link-none:hover{
    color: inherit;
  }
  .parent{
    height: 600px;
    width: 300px;
  }
  .loading{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .additional-background{
    background-image: url("../assets/profile-background.jpg");
    background-size: cover;
  }
  .additional{
    padding: 200px;
    text-align: center;
  }
  .additional img{
    width: 40em;
  }
.additional p{
  font-size: 22px;
  text-align: start;
}
.additional-title{
  text-align: center;
  font-size: 48px;
  text-decoration: underline;
}
.additional ol{
  text-align: start;
  font-size: 20px;
  list-style: none;
}
.additional ol li{
  padding-bottom: 1em;
}
.share-info{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
  padding-bottom: 1em;
}
.error-page-background{
  background-color: #bebebee8;
  padding-bottom: 200px;
}
.error-page{
  text-align: center;
  color: black;
}
.error-page h1{
  font-size: 50px;
}
.error-page img{
  width: 40em;
}
.ham-links, .go-back{
  display: none;
}
.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 100px;
  height: 81px;
  background-color: rgba(88, 88, 88, 0.438);
  text-align: center;
  padding-top: 35px;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .icons{
    width: 5% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .icons{
    width: 6% !important;
  }
}
@media only screen and (max-width: 1060px){
  #siteImg{
    width: 10em;
    padding-bottom: 0 !important;
  }
  .navigation a:not(:first-child) {
    display: none;
  }
  .hamburger:hover {
    background-color: #ddd;
    color: black;
  }
  .hamburger {
    display: block;
  }
  .ham-links {
    display: block;
    z-index: 2;
    position: fixed;
    padding-top: 13vw;
    background-color: rgba(255, 255, 255, 0.664);
    list-style: none;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 2em;
    text-align: center;
    
  }
  .ham-links li:first-child{
    border-top: 4px rgb(0, 0, 0) solid;
  }
  .ham-links li{
    border-bottom: 4px rgb(0, 0, 0) solid;
    padding-bottom: 20px;
    cursor: pointer;
  }
  .ham-links li:hover{
    background-color: rgba(65, 63, 63, 0.575);
  }
  .go-back{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 1em;
    background-color: rgba(65, 63, 63, 0.575);
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-size: 2em;
    padding: 4px;
    margin: 5px;
  }
}
@media only screen and (max-width: 992px) {
  .icons{
    width: 8% !important;
  }
  footer{
    padding-bottom: 400px;
    padding-top: 50px;
  }
  .contact{
    font-size: 28px;
  }
  .additional-links{
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .icons{
    width: 10% !important;
  }
  .contact{
    font-size: 24px;
  }
  .additional-links{
    font-size: 16px;
  }
  .additional img{
    width: 30em;
  }
  .error-page h1{
    font-size: 36px;
  }
  #error-img{
    width: 80%;
  }
}
@media only screen and (max-width: 530px) {
  .icons{
    width: 12% !important;
  }
  #siteImg{
    width: 9em !important;
  }
  .hamburger{
    height: 74px !important;
    padding-top: 30px;
  }
  .additional img{
    width: 20em;
  }
}
@media only screen and (max-width: 480px){
  .hamburger{
    height: 108px;
  }
}
@media only screen and (max-width: 425px) {
  .icons{
    width: 14% !important;
  }
}
@media only screen and (max-width: 365px) {
  .icons{
    width: 16% !important;
  }
}
@media only screen and (max-width: 335px) {
  .icons{
    width: 18% !important;
  }
}
@media only screen and (max-width: 300px) {
  .icons{
    width: 22% !important;
  }
}
@media only screen and (max-width: 240px) {
  .icons{
    width: 26% !important;
  }
}
@media only screen and (max-width: 200px) {
  .icons{
    width: 30% !important;
  }
}