.admin-title{
    color: black;
}
.admin-title > label{
    font-size: 16px;
    margin-left: 5px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ff851b;
    padding: 5px;
    cursor: pointer;
}

.admin-title > label >input{
    width: 15px;
    height: 15px;
}

.table-users-img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.focused-img{
    display: block;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    cursor: pointer;
    z-index: 1;
}
.admin-table, .products-table, .orders-table, .order-items-table{
    width: 70% !important;
    margin: auto;
    margin-bottom: 200px !important;
    background-color: white;
}
.admin-table th, .admin-table td, .products-table th, .products-table td, .orders-table td, .orders-table th, .order-items-table th, .order-items-table td{
    border: 1px solid #dddddd;
    padding: 8px;
}


.my-profile-card{
    flex-direction: row !important;
    margin: auto 15em;
    margin-top: 5em;
    margin-bottom: 10em;
}
.my-profile-card > .card-img{
    width: 20%;
}
.my-profile-card > .card-body > .card-title{
    font-size: 32px;
    text-decoration: underline;
}
.my-profile-card > .card-body > .card-text{
    font-size: 24px;
}
.share-info{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 1em;
}

.products-background, .orders-background, .suppliers-background, .order-items-background{
    background-position: center;
    background-size: cover;
}



.products-table *, .orders-table *, .order-items-table *{
    color: black;
}
.shopping-cart{
    position: fixed;
    left: 0%;
    top: 20%;
    color: white !important;
    width: 6em !important;
}
.shopping-cart:hover, .reset-shopping-cart:hover, .cart-close:hover, .create-product:hover, .to-shop:hover{
    filter: brightness(90%);
}
.cart{
    position: absolute;
    left: 0%;
    top: 15%;
    color: black ;
    background-color: white;
    z-index: 1;
    width: 16em;
    border: #ff851b solid 2px;
    text-align: center;
    
}

.cart > ul{
    list-style-position:inside;
    padding-left: 0;

}

.link-none{
    text-decoration: none;
    color: inherit;
}
.link-none:hover{
    color: inherit;
}
.my-order-tr{
    cursor: pointer;
}
.my-order-tr:hover{
    background-color: #ff851b;
}
.orders-background{
    background-image: url("../assets/orders-background.jpg");
}
.suppliers-background{
    background-image: url("../assets/suppliers-background.jpg");
}
.order-items-background{
    background-image: url("../assets/59274.jpg");
}
.products-background{
    background-image: url("../assets/shopping.jpg");
}
.my-profile-background{
    background-image: url("../assets/profile-background.jpg");
}