.registration{
    background-image: url("../assets/registration.jpg");
    background-position: center;
    height: 90vh;
}
.registration-form{
    margin: 2em 30%;
    padding: 20px 8%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-align: center;
}

.registration-form > *:not(.registration-btn,.registration-title){
    text-align: start;
}

.registration-title{
    font-weight: bold;
    text-align: center;
}

.registration-btn{
    border: 1px solid black !important;
    font-size: 20px !important;
    width: 5em;
}
.not-registered{
    font-size: 16px;
    color: #ff851b;
}

.register-image-text{
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.registration-label{
    margin-bottom: 0 !important;    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
